
<!-- Edit Form -->
<div class="view-container">
  <form (ngSubmit)="updateTask(editForm)" #editForm="ngForm">
    <div class="form-group">
     
      <div>{{task!.id}}</div>
      <div>
        <input value="{{task!.title}}" disabled>
      </div>
      <div>
        <input *ngIf="!editTask; else elseDescriptionBlock;" value="{{task?.description}}" [disabled]="!editTask">

        <ng-template #elseDescriptionBlock>
          <input placeholder="{{task?.description}}" value="{{task!.description}}" ngModel name="edit-task-description">
        </ng-template>
      </div>
      <div>
        <input value={{task!.dueDate}} disabled name="edit-task-dueDate">
       </div>
      <div >
      <ng-template [ngIf]="task?.priority==1 && !editTask">
          <div class="low">low</div>  
        </ng-template>
        <ng-template [ngIf]="task?.priority==2 && !editTask">
          <div class="medium"> medium</div> 
        </ng-template>
        <ng-template [ngIf]="task?.priority ==3 && !editTask">
          <div class="high">high</div>
        </ng-template>
        <ng-template [ngIf]="editTask">
          <select class="form-control"  id="edit-task-priority"  [disabled]="!editTask" ngModel name ="edit-task-priority">
            <option value="1" style="background-color: green;">Low</option>
            <option value="2" style="background-color: rgb(255, 145, 0);">Medium</option>
            <option value="3" style="background-color: red;">High</option>
          </select>
        </ng-template>    
      </div>
      <div>
        <input *ngIf="!editTask; else elseTakenByBlock;" value="{{task?.takenBy}}" [disabled]="!editTask">

        <ng-template #elseTakenByBlock>
          <input placeholder="{{task?.takenBy}}" ngModel name="edit-task-takenBy">
        </ng-template>
      </div>
<div>
        <ng-template [ngIf]="task?.status==1 && !editTask">
          <div class="todo" >to-do</div>  
        </ng-template>
        <ng-template [ngIf]="task?.status==2 && !editTask">
          <div class="inprogress">in-progress</div> 
        </ng-template>
        <ng-template [ngIf]="task?.status ==3 && !editTask">
          <div class="completed">completed</div>
        </ng-template>
        <ng-template [ngIf]="editTask">
        <select class="form-control" id="edit-task-status"  [disabled]="!editTask" ngModel name ="edit-task-status" value="{{task?.status}}" >
          <option value="1"  style="background-color: rgb(231, 130, 178);">to-do</option>
          <option value="2"  style="background-color: rgb(58, 183, 214);">in-progress</option>
          <option value="3"  style="background-color: rgb(90, 4, 71);">completed</option>
        </select>
      </ng-template>
      </div>
      <div>
        <button class="btn edit-btn" *ngIf="!editTask; else elseBlock;" (click)="updateToggle()">Edit</button>

        <ng-template #elseBlock>
          <button class="btn update-btn" (click)="updateTask(editForm)">update</button>
        </ng-template>
      </div>
      <div>
        <button  (click)="deleteTask()" class="btn delete-btn">Delete</button>
      </div>
    </div>
  </form>
</div>