.container{
    margin-bottom: 50px;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,0.0844712885154062) 0%, rgba(255,255,255,1) 100%);
 padding:10px 20px;
 font-family: sans-serif;

}
.low{
    color:"green"
}
input {
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.5em 0.5em;
    background-color: #fff;
    border: 2px solid rgba(177, 177, 245, 0.295);
    border-radius: 4px;
    font-weight: 700;
	background-color: transparent;
	outline: none;
	border-color: #217554;
	border-radius: 20px;
	
	
  }
  select {
    width: 100%;
    padding: 10px 20px;
   
    border:2px solid #217554;
    border-radius: 20px;
   
  }
  
  input:focus {
    border: 3px solid #555;
  }
  .btn{
    background: rgb(249,107,36);
    background: linear-gradient(187deg, rgba(249,107,36,1) 67%, rgba(246,172,52,1) 84%);
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius:10px;
  margin-top:5px;
  cursor:pointer;
  box-shadow: 1px 4px 2px 1px rgba(0, 0, 255, .2);
  }
button:disabled
  {
   opacity: 0.5;
  }
  .btn:hover{
    background: rgb(249,107,36);
    background: linear-gradient(164deg, rgba(249,107,36,1) 67%, rgba(246,172,52,1) 84%);
   
    box-shadow: 4px 3px 2px 1px rgba(0, 0, 255, .2);
  }
  select option{
    padding: 50px;
  }
  label {
    color: #040549;
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    float: left;
    
    }
    label:after { content: ":" }
  h4{
    text-align: center;
    color: white;
    font-size: 20px;
    text-shadow: 2px 1px 4px #000000;
  }
  .form-group{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .form-group div{
    display: flex;
    display: table-cell;
    vertical-align: middle;
  }
 textarea{
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 2px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    background-color: transparent;
	outline: none;
	border-color: #217554;
	border-radius: 20px;
	
 }